.orders-page {
  padding: 20px;
}

.orders-title {
  text-align: center;
  margin-bottom: 20px;
}

.orders-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order-card {
  background: #f8f8f8;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.order-card h3 {
  margin-bottom: 5px;
}

.order-card ul {
  margin: 10px 0;
  padding-left: 20px;
}

.details-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 6px 12px;
  background: #111;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.details-btn:hover {
  background: #333;
}

.order-item-row{
  list-style-type: none;
}
.order-img{
  height: 120px;
  width: 160px;
  margin: 4px;
}