.products-page {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 600;
}

.loading {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

/* Product Grid */
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  gap: 15px;
}

.pagination button {
  padding: 8px 18px;
  background: #111;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background: #555;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
  font-weight: 500;
}
