/* CartItem.css */

.cart-item {
  display: flex;
  gap: 20px;
  background: #fafafa;
  padding: 14px;
  border-radius: 8px;
  align-items: center;
}

.cart-item-img {
  width: 110px;
  height: 110px;
  border-radius: 6px;
  object-fit: cover;
}

.cart-item-info {
  flex: 1;
}

.qty-controls {
  display: flex;
  gap: 10px;
  align-items: center;
}

.qty-controls button {
  background: #ddd;
  padding: 4px 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.qty-controls button:hover {
  background: #ccc;
}

.remove-btn {
  margin-top: 8px;
  background: crimson;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.remove-btn:hover {
  background: #a30000;
}
