/* NAVBAR MAIN */
.navbar {
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background: #111;
  color: white;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  
}

/* LOGO */
.logo {
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  color: white;
}

.logo-heading{
  font-size: 20px;
  text-align: center;
  align-items: center;
  margin-top: 40px;
}
/* NAV LINKS */
.nav-links {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-right: 50px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  color: #ffcc00;
}

/* LOGIN BUTTON */
.login-btn {
  padding: 6px 14px;
  background: #ffcc00;
  color: black;
  font-weight: 600;
  border-radius: 6px;
  text-decoration: none;
}

.login-btn:hover {
  background: #e6b800;
}

/* MOBILE MENU BUTTON */
.menu-btn {
  display: none;
  font-size: 26px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* ---------------------- */
/* RESPONSIVE DESIGN */
/* ---------------------- */

/* For screens below 768px */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: #111;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 20px 0;
    display: none;
  }

  .nav-links.open {
    display: flex;
  }
}
